<% layout("/layouts/boilerplate") %>

<div class="edit-listing-container">
  <h1>Edit the Listing</h1>
  <form
    action="/listings/<%= listing._id %>?_method=PUT"
    method="post"
    class="edit-form needs-validation"
    novalidate
  >
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        name="listing[title]"
        id="title"
        value="<%= listing.title %>"
        required
        class="form-control"
      />
      <div class="invalid-feedback">Please enter the title.</div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        name="listing[description]"
        id="description"
        placeholder="Enter description"
        required
        class="form-control"
      >
<%= listing.description %></textarea
      >
      <div class="invalid-feedback">Please enter a short description.</div>
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      <input
        type="text"
        name="listing[image][url]"
        id="image"
        value="<%= listing.image.url %>"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please enter a valid link for image.</div>
    </div>

    <div class="form-group">
      <label for="price">Price (₹)</label>
      <input
        type="number"
        name="listing[price]"
        id="price"
        value="<%= listing.price %>"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please enter a valid price.</div>
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input
        type="text"
        name="listing[location]"
        id="location"
        value="<%= listing.location %>"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please enter a valid location.</div>
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input
        type="text"
        name="listing[country]"
        id="country"
        value="<%= listing.country %>"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please enter a valid country.</div>
    </div>

    <button type="submit" class="btn-submit">Update Listing</button>
  </form>
</div>
